.red_box{
    background-color: green ;
}
.blue_box{
    background-color: blue;
    margin-bottom: 200px;
}
.yellow_box{
    background-color: yellow;
    margin-bottom: 200px;
}
div
{
    width: 200px;
    height: 200px;
}